<%- include ("header") -%>
    <section class="todo-list">
        <div class="allbox">
            <div class="top-todo">
                <h1 class="todo-header">
                    <%=listTitle %>
                </h1>
            </div>

            <div class="todo-body">
                <ul>
                    <% for( let i=0; i < newListItem.length; i++ ) { %>
                        <div class="list-item">
                            <input class="check" type="checkbox" name="" id="">
                            <p class="list-text">
                                <%=newListItem[i]%>
                            </p>
                        </div>
                        <% } %>
                </ul>
                <div class="input-new">
                    <form action="/" method="post">
                        <input type="text" class="input-new-item" name="todo" id="" placeholder="New Item"
                            autocomplete="off">
                        <button class="submit-button" name="list" value=<%=value%> type="submit"><i
                                class="fa-solid fa-plus"></i></button>
                    </form>
                </div>

            </div>
        </div>

    </section>

    <%-include ("footer") -%>