<%- include ("header") -%>
    <section class="todo-list">
        <div class="allbox">
            <div class="top-todo">
                <h1 class="todo-header">
                    <%=listTitle %>
                </h1>
            </div>

            <div class="todo-body">
                <ul>
                    <% newListItem.forEach(item=>{ %>
                        <form action="/delete" method="post" class="todo-form">
                            <div class="list-item">
                                <input class="check" type="checkbox" value="<%=item._id %>"
                                    onChange="this.form.submit()" name="checkbox">
                                <p class="list-text">
                                    <%=item.name%>
                                </p>
                            </div>
                            <input type="hidden" name="listName" value="<%= listTitle %> ">
                        </form>

                        <% }) %>
                </ul>
                <div class="input-new">
                    <form class="input-new-form" action="/" method="post">
                        <input type="text" class="input-new-item" name="todo" id="" placeholder="New Item"
                            autocomplete="off">
                        <button class="submit-button" name="list" value=<%=value%> type="submit"><i
                                class="fa-solid fa-plus"></i></button>
                    </form>
                </div>

            </div>
        </div>

    </section>

    <%-include ("footer") -%>